name: CI

on:
  push:
    branches: [ main ]
    
    paths:
    - 'debug-utils/**'
      
  pull_request:
    branches: [ main ]
    
    paths:
    - 'debug-utils/**'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build Docker Container
      run: ls -l && make build .
